In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import joblib

In [8]:
bikes=pd.read_csv('bikes.csv')
bikes.head()

,model_name,model_year,kms_driven,owner,location,mileage,power,price
0,Bajaj Avenger Cruise 220 2017,2017,17000 Km,first owner,hyderabad,\n\n 35 kmpl,19 bhp,63500
1,Royal Enfield Classic 350cc 2016,2016,50000 Km,first owner,hyderabad,\n\n 35 kmpl,19.80 bhp,115000
2,Hyosung GT250R 2012,2012,14795 Km,first owner,hyderabad,\n\n 30 kmpl,28 bhp,300000
3,Bajaj Dominar 400 ABS 2017,2017,Mileage 28 Kms,first owner,pondicherry,\n\n 28 Kms,34.50 bhp,100000
4,Jawa Perak 330cc 2020,2020,2000 Km,first owner,bangalore,\n\n,30 bhp,197500

In [10]:
bikes.describe()

        model_year         price
count  7857.000000  7.857000e+03
mean   2015.367698  1.067913e+05
std       4.001443  1.389261e+05
min    1950.000000  0.000000e+00
25%    2014.000000  4.200000e+04
50%    2016.000000  7.500000e+04
75%    2018.000000  1.250000e+05
max    2021.000000  3.000000e+06

In [11]:
bikes.shape

(7857, 8)

In [12]:
bikes.dtypes

model_name    object
model_year     int64
kms_driven    object
owner         object
location      object
mileage       object
power         object
price          int64
dtype: object

In [15]:
bikes["mileage"].str.strip()

0       35 kmpl
1       35 kmpl
2       30 kmpl
3        28 Kms
4
         ...
7852    42 kmpl
7853    80 Kmpl
7854    65 kmpl
7855    57 kmpl
7856    38 kmpl
Name: mileage, Length: 7857, dtype: object

In [16]:
bikes["mileage"]= bikes["mileage"].str.strip()

In [17]:
bikes.head()

,model_name,model_year,kms_driven,owner,location,mileage,power,price
0,Bajaj Avenger Cruise 220 2017,2017,17000 Km,first owner,hyderabad,35 kmpl,19 bhp,63500
1,Royal Enfield Classic 350cc 2016,2016,50000 Km,first owner,hyderabad,35 kmpl,19.80 bhp,115000
2,Hyosung GT250R 2012,2012,14795 Km,first owner,hyderabad,30 kmpl,28 bhp,300000
3,Bajaj Dominar 400 ABS 2017,2017,Mileage 28 Kms,first owner,pondicherry,28 Kms,34.50 bhp,100000
4,Jawa Perak 330cc 2020,2020,2000 Km,first owner,bangalore,,30 bhp,197500

In [18]:
bikes.describe()

        model_year         price
count  7857.000000  7.857000e+03
mean   2015.367698  1.067913e+05
std       4.001443  1.389261e+05
min    1950.000000  0.000000e+00
25%    2014.000000  4.200000e+04
50%    2016.000000  7.500000e+04
75%    2018.000000  1.250000e+05
max    2021.000000  3.000000e+06

In [19]:
bikes["owner"].unique()

array(['first owner', 'third owner', 'second owner',
       'fourth owner or more'], dtype=object)

In [21]:
bikes["location"].unique()

array(['hyderabad', 'pondicherry', 'bangalore', 'jaipur', 'chennai',
       'ghaziabad', 'delhi', 'ludhiana', 'jaunpur', 'mumbai',
       'chittorgarh', 'thalassery', 'bathinda', 'gurgaon', 'dehradun',
       'pune', 'kukatpally', 'navi mumbai', 'lucknow', 'siliguri',
       'bengaluru', 'rajkot', 'agra', 'bhiwandi', 'patna', 'udaipur',
       'bihar shariff', 'jalandhar', 'vadodara', 'visakhapatnam',
       'thiruvananthapuram', 'ahmedabad', 'bareilly', 'thane', 'kannur',
       'surat', 'kurukshetra', 'moradabad', 'bhagalpur', 'hooghly',
       'jhunjhunu', 'kochi', 'srikakulam', 'jamshedpur', 'hazaribagh',
       'noida', 'chandigarh', 'reasi', 'ambala', 'panchkula', 'balotra',
       'sonipat', 'kolkata', 'jind', 'trivandrum', 'mathura', 'panipat',
       'sangli', 'howrah', 'indore', 'pilibhit', 'nagpur', 'jodhpur',
       'alipore', 'secunderabad', 'patiala', 'dhrangadhra', 'avadi',
       'sri ganganagar', 'pali', 'palampur', 'baleshwar', 'kotputli',
       'panruti', 'samana', 'salem', 'meerut', 'gaya', 'vellore',
       'guntur', '24 pargana', 'murshidabad', 'naihati', 'sambalpur',
       'tuticorin', 'varanasi', 'panvel', 'chinchwad', 'mohali',
       'durgapur', 'ajmer', 'dharwad', 'erode', 'coimbatore', 'akola',
       'rewari', 'ahmednagar', 'bhatinda', 'gautam buddha nagar',
       'belgaum', 'gwalior', 'madhupur', 'chandrapur', 'sirsa', 'karur',
       'didwana', 'aonla', 'allahabad', 'kheralu', 'gondia', 'vijayawada',
       'khagaria', 'valsad', 'madurai', 'asansol', 'koraput', 'abiramam',
       'kottayam', 'bankura', 'ranchi', 'bikaner', 'hosur', 'junagadh',
       'bomdila', 'jhansi', 'kalyan', 'tumkur', 'masaurhi', 'mangalore',
       'annigeri', 'etawah', 'bagalkot', 'barabanki', 'aligarh',
       'alandur', 'bhopal', 'villupuram', 'adilabad', 'srinagar',
       'nadiad', 'arrah', 'samastipur', 'jamui', 'amravati', 'jagadhri',
       'tiruchirappalli', 'sholinganallur', 'bhadravati', 'surendranagar',
       'kota', 'kolhapur', 'rohtak', 'gadag', nan, 'pilkhuwa',
       'faridabad', 'chirkunda', 'nagaur', 'gurdaspur', 'kanpur',
       'dakshina kannada', 'amritsar', 'betia', 'hubli', 'alwar',
       'rudrapur', 'mysore', 'bhubaneshwar', 'shahganj', 'murad nagar',
       'motihari', 'akkalkot', 'bhiwani', 'hardoi', 'rajahmundry',
       'malout', 'chittoor', 'baramati', 'rewa', 'tiruppur', 'gorakhpur',
       'midnapore', 'goraya', 'gohana', 'chengalpattu', 'kasargod',
       'gandhinagar', 'neyyattinkara', 'ghazipur', 'wardha', 'chengannur',
       'chanpatia', 'navsari', 'madikeri', 'raipur', 'patan', 'ayodhya',
       'mandvi', 'guna', 'nokha', 'nathdwara', 'dibrugarh', 'thanjavur',
       'theni', 'kanpur nagar', 'bagru', 'jajpur', 'sikar', 'jalgaon',
       'berhampur', 'halisahar', 'anantapur', 'alappuzha', 'kodikulam',
       'kangra', 'madhubani', 'sadabad', 'unnao', 'saharanpur',
       'jabalpur', 'tiruvannamalai', 'sehore', 'nalbari',
       'uthagamandalam', 'sachin', 'namakkal', 'nanauta', 'yemmiganur',
       'cuttack', 'fatehpur', 'roorkee', 'rupnagar', 'darbhanga', 'medak',
       'kherli', 'vaijapur', 'kakinada', 'gharghoda', 'burla',
       'chitradurga', 'padrauna', 'tirupati', 'durg', 'banka',
       'raigarh(mh)', 'guwahati', 'khariar', 'maradu', 'nashik', 'washim',
       'baran', 'chhindwara', 'sultanpur', 'malappuram', 'ernakulam',
       'lalitpur', 'barasat', 'harij', 'ichalkaranji', 'phagwara',
       'jatani', 'margao', 'bijnor', 'tezpur', 'silchar', 'baraut',
       'manvi', 'silvasa', 'cuddalore', 'haridwar', 'chikamaglur',
       'kanchrapara', 'yamuna nagar', 'dewas', 'bahadurgarh', 'sivakasi',
       'agartala', 'alanganallur', 'kamareddy', 'kanchipuram', 'narnaul',
       'bulandshahr', 'zirakpur', 'bharatpur', 'pathanamthitta', 'vaikom',
       'dimapur', 'chirawa', 'kapurthala', 'haldwani', 'datia', 'vidisha',
       'sidhi', 'kasba', 'chas', 'thoothukkudi', 'vasai', 'safidon',
       'ambejogai', 'amethi', 'hapur', 'pinjore', 'aurangabad', 'kakrala',
       'kushinagar', 'chakan', 'gubbi', 'tirunelveli', 'hanamankonda',
       'nalgonda', 'daman', 'munger', 'kaithal', 'siddipet', 'baghpat',
       'bhavnagar', 'islampur', 'muzaffarnagar', 'lakhimpur kheri',
       'vapi', 'kannamangalam', 'irinjalakuda', 'kadapa', 'tambaram',
       'aluva', 'pen', 'jhabua', 'davanagere', 'tonk', 'balaghat',
       'kharagpur', 'balangir', 'rajnandgaon', 'thiruvallur', 'satara',
       'hamirpur(hp)', 'rajsamand', 'nagapattinam', 'khedbrahma',
       'kollam', 'rahuri', 'palanpur', 'muzaffarpur', 'virar', 'ranip',
       'chalthan', 'hansi', 'hospet', 'sitapur', 'deoria', 'markapur',
       'burdwan', 'ganganagar', 'hathras', 'barpeta', 'khatima',
       'godhara', 'yanam', 'mhasla', 'bardhaman', 'baripara', 'kharar',
       'tiruverkadu', 'warangal', 'nanded', 'amila', 'firozpur',
       'sibsagar', 'dhamtari', 'budaun', 'ropar', 'morena', 'kasganj',
       'nanpara', 'ratlam', 'goregaon', 'goa-panaji', 'bokaro', 'dhanbad',
       'aliganj', 'kalyani', 'bilaspur', 'thakurdwara', 'kanyakumari',
       'itanagar', 'raikot', 'karnal', 'assandh', 'nagercoil', 'chenani',
       'berhampore', 'bharuch', 'khalilabad', 'pithampur', 'muddebihal',
       'contai', 'buxar', 'nayahat', 'mauranipur', 'kheda', 'kawardha',
       'shimoga', 'rampur', 'areraj', 'anand', 'almora', 'firozabad',
       'ramgarh', 'hindupur', 'sarni', 'kendrapara', 'begusarai',
       'nayagarh', 'satna', 'chikkaballapur', 'sonepat', 'kolar',
       'bhilwara', 'mandi', 'nanjangud', 'tiruvallur', 'jalpaiguri',
       'simdega', 'katihar', 'angul', 'nagaon', 'korba', 'mughalsarai',
       'bhind', 'jamnagar', 'ashok nagar', 'mahboobnagar', 'muvattupuzha',
       'auraiya', 'sirohi', 'dindigul', 'udhampur', 'howli', 'jammu',
       'bellary', 'ratangarh', 'palakkad', 'gopalganj', 'rishikesh',
       'nabarangapur', 'mandya', 'thrissur', 'churu', 'neral', 'daund',
       'mandi dabwali', 'virudhunagar', 'bhiwadi', 'ambikapur', 'raigarh',
       'pendra', 'gandhidham', 'alibag', 'dahod', 'bahadurpur', 'katni',
       'port blair', 'hajipur', 'puttur', 'siwan', 'chinsurah', 'khammam',
       'dungarpur', 'kupwara', 'ujjain', 'nellore', 'betul',
       'karim nagar', 'bijapur', 'dadra & nagar haveli', 'ajnala',
       'adoni', 'qadian', 'barnala', 'fatehabad', 'dankaur', 'herbertpur',
       'aquem', 'pimpri chinchwad', 'kurnool', 'puri', 'ambur',
       'vizianagaram', 'medinipur', 'sabarkantha', 'mulbagal', 'moga',
       'sonbhadra', 'halol', 'nawanshahr', 'latur', 'sitamarhi',
       'deoghar', 'shimla', 'idukki', 'greater noida', 'khopoli',
       'jamtara', 'adalaj', 'purulia', 'anekal', 'basti', 'udupi', 'bhuj',
       'muktsar', 'channapatna', 'tikamgarh', 'solan', 'dharmapuri',
       'pratapgarh', 'lonavala', 'adyar', 'baloda', 'gangtok',
       'bangarmau', 'hisar', 'bhatkal', 'mubarakpur', 'golaghat',
       'manpur', 'dwarka', 'buldhana', 'perumbavoor', 'dharwar',
       'vaniyambadi', 'bodhan', 'raebareli', 'swaimadhopur', 'challakere',
       'tekanpur', 'uran', 'godavari', 'indi', 'ranga reddy', 'palwal',
       'kozhikode', 'poonamallee', 'farrukhabad', 'ferozepur', 'jobner',
       'krishna', 'jhajjar', 'akot', 'kadi', 'ponda', 'bolpur',
       'chatrapur', 'hoshiarpur', 'fatehgarh sahib', 'jagdalpur',
       'chaksu', 'dinajpur', 'deesa', 'pathankot', 'budhlada', 'anantnag',
       'sidlaghatta'], dtype=object)