In [125]:
import streamlit as st
import pandas as pd
import numpy as np
import importlib
import preprocessing_d
importlib.reload(preprocessing_d)
import preprocessing_d
import seaborn as sns

In [126]:
bike=pd.read_csv("bikes_EDA_Cleaned.csv")

In [127]:
bike.drop("price", axis=1, inplace=True)

In [128]:
from preprocessing_d import pipelines_ml

pipelines_ml(bike).predict()

,model_name,model_year,kms_driven,owner,location,mileage,power,brand,cc,price
0,Bajaj Avenger Cruise 220 2017,2017,17000.0,1,Hyderabad,35.0,19.0,Bajaj,220.000000,75554.072942
1,Royal Enfield Classic 350Cc 2016,2016,50000.0,1,Hyderabad,35.0,19.0,Royal,350.000000,115724.581398
2,Hyosung Gt250R 2012,2012,14795.0,1,Hyderabad,30.0,28.0,Hyosung,249.194653,219046.242685
3,Bajaj Dominar 400 Abs 2017,2017,28.0,1,Pondicherry,28.0,34.0,Bajaj,400.000000,120228.639263
4,Jawa Perak 330Cc 2020,2020,2000.0,1,Bangalore,30.0,30.0,Jawa,330.000000,223301.747907
...,...,...,...,...,...,...,...,...,...,...
7852,Yamaha Yzf-R15 150Cc 2011,2011,7000.0,1,Agra,42.0,16.0,Yamaha,150.000000,48209.695453
7853,Bajaj Discover 100Cc 2015,2015,80.0,1,Delhi,80.0,7.7,Bajaj,100.000000,28273.421186
7854,Bajaj Pulsar 180Cc 2016,2016,6407.0,1,Bangalore,65.0,17.0,Bajaj,180.000000,57520.299061
7855,Bajaj V15 150Cc 2016,2016,7524.0,1,Bangalore,57.0,11.0,Bajaj,150.000000,44319.874273
7856,Bajaj Pulsar 220Cc 2016,2016,15000.0,1,Chennai,38.0,21.0,Bajaj,220.000000,59027.252638

In [129]:
bike=pd.read_csv("bikes_EDA_Cleaned.csv")
bike.drop("Unnamed: 0", axis=1, inplace=True)
bike

,model_name,model_year,kms_driven,owner,location,mileage,power,price,brand,cc
0,Bajaj Avenger Cruise 220 2017,2017,17000.0,1,Hyderabad,35.0,19.0,63500,Bajaj,220.000000
1,Royal Enfield Classic 350Cc 2016,2016,50000.0,1,Hyderabad,35.0,19.0,115000,Royal,350.000000
2,Hyosung Gt250R 2012,2012,14795.0,1,Hyderabad,30.0,28.0,300000,Hyosung,249.194653
3,Bajaj Dominar 400 Abs 2017,2017,28.0,1,Pondicherry,28.0,34.0,100000,Bajaj,400.000000
4,Jawa Perak 330Cc 2020,2020,2000.0,1,Bangalore,30.0,30.0,197500,Jawa,330.000000
...,...,...,...,...,...,...,...,...,...,...
7852,Yamaha Yzf-R15 150Cc 2011,2011,7000.0,1,Agra,42.0,16.0,55000,Yamaha,150.000000
7853,Bajaj Discover 100Cc 2015,2015,80.0,1,Delhi,80.0,7.7,28000,Bajaj,100.000000
7854,Bajaj Pulsar 180Cc 2016,2016,6407.0,1,Bangalore,65.0,17.0,61740,Bajaj,180.000000
7855,Bajaj V15 150Cc 2016,2016,7524.0,1,Bangalore,57.0,11.0,49000,Bajaj,150.000000
7856,Bajaj Pulsar 220Cc 2016,2016,15000.0,1,Chennai,38.0,21.0,65000,Bajaj,220.000000

In [130]:
bike.shape

(7857, 10)